{% extends "../base.html" %}

{% block head %}

<script  src="/common_static/component/jquery.city.select.js" type="text/javascript"  charset="UTF-8"></script>

{% endblock %}

{% block mainbody %}
<div class="container">
<div class="row" >
    <div class=".col-md-4"></div>

    <div class=".col-md-8">
        <form method='post' role="form">
        {% csrf_token %}

            <div class="form-group">
            <label for="id_Name">项目名称</label>
            <input type="text" class="form-control" id="id_Name" name="Name" placeholder="">
            </div>
            <div class="form-group">
                <label for="id_FromName">公司／个人名称</label>
                {{ form.FromName }}
            </div>
            <div class="form-group">
                <label for="id_BuildDimensions">项目面积</label>
                {{ form.BuildDimensions }}
            </div>
            <div class="form-group" >
                <label for="id_Province">所在地</label>
                <div class="form-control" id="addr">
                    {{ form.Province }} {{ form.City }} {{ form.District }}
                </div>
            </div>
             <div class="form-group">
                <label for="id_Contact">联系人</label>
                {{ form.Contact }}
            </div>
             <div class="form-group">
                <label for="id_Telphone">电话</label>
                {{ form.Telphone }}
            </div>
            <div class="form-group">
                <label for="id_Abstract">补充</label>
                {{ form.Abstract }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">提交</button>
    </form>
    </div>



</div>
    </div>
<script type="text/javascript" charset="UTF-8">
 $(function() {

    $("#addr").citySelect({
                    prov: "浙江",
                    city: "金华",
                    dist: "婺城区"
                });
     });


</script>
{% endblock %}